@page "/journals"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MyPage.Data.PageDbContext DB
@using BookLibrary.Journal.Model

<div class="create-button-container">
    <a href="journals/create" class="btn btn-primary">
        <Icon Name="IconName.PlusLg" />
        Create
    </a>
</div>

<div class="journal-container">
    @foreach (var journal in DB.Journals)
    {
        <a href="@($"journals/details?id={journal.Id}")" class="journal-card-link">
            <div class="journal-card">
                <div class="journal-header">
                    <h2>@journal.Title</h2>
                    <p> @journal.Date.ToString("dddd") - @journal.Date</p>
                </div>
                <div class="journal-content">
                    <p>@journal.Content</p>
                </div>
                <div class="journal-actions">
                    <a href="@($"journals/edit?id={journal.Id}")" class="btn btn-sm btn-outline-primary">
                        <Icon Name="IconName.PencilFill" Size="IconSize.x6" />
                    </a>
                    <a href="@($"journals/delete?id={journal.Id}")" class="btn btn-sm btn-outline-danger">
                        <Icon Name="IconName.TrashFill" Size="IconSize.x6" />
                    </a>
                </div>
            </div>
        </a>
    }
</div>
