@page "/journals"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MyPage.Data.PageDbContext DB
@using BookLibrary.Journal.Model

<PageTitle>Journal</PageTitle>

<h1>Journal Entries</h1>

<p>
    <a href="journals/create" class="btn btn-primary">Create New</a>
</p>

<div class="journal-container">
    @foreach (var journal in DB.Journals)
    {
        <a href="@($"journals/details?id={journal.Id}")" class="journal-card-link">
            <div class="journal-card">
                <div class="journal-header">
                    <h2>@journal.Title</h2>
                    <p> @journal.Date.ToString("dddd") - @journal.Date</p>

                </div>
                <div class="journal-content">
                    <p>@journal.Content</p>
                </div>
                <div class="journal-actions">
                    <a href="@($"journals/edit?id={journal.Id}")" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="@($"journals/delete?id={journal.Id}")" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </div>
        </a>
    }
</div>